[submodule "wayland-protocols/protocols"]
	path = wayland-protocols/protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "wayland-protocols-wlr/wlr-protocols"]
	path = wayland-protocols-wlr/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
[submodule "wayland-protocols-plasma/plasma-wayland-protocols"]
	path = wayland-protocols-plasma/plasma-wayland-protocols
	url = https://invent.kde.org/libraries/plasma-wayland-protocols.git
	branch = v1.16.0
